/* .item a:hover {
    color: green;
    background: red;
} */

.ui.menu {
  margin: -.5rem;
}

.linkedin {
  height: 50px;
  width: 50px;
}

.github {
  height: 50px;
  width: 50px;
}

.particles {
  background: #b61924;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parallax {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.giphy {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  position: relative;
}

.giphy-embed {
  position: absolute
}

.project-left {
  height: 250px;
  background: white;
}

.project-right {
  height: 250px;
  background: white;
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 27px;
  font-family: Lato, sans-serif;
  letter-spacing: 8px;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.border {
  border: 1px solid black;
  background-color: transparent;
  padding: 20px;
  z-index: 2;
}

.titleWhite {
  position: absolute;
  text-transform: uppercase;
  color:#dee2e6;
  font-family: Lato, sans-serif;
  font-size: 27px;
  letter-spacing: 8px;
  text-align: center;
  background-color: transparent;
  z-index: 2;
}

.borderWhite {
  border: 1px solid white;
  background-color: transparent;
  padding: 20px;
  z-index: 2;
}


.react-inbox {
  height: 200px;
  width: 350px;
}

.footerBuffer {
  height: 150px;
  background: white;
}

.footer {
  background-color: #3e3e3e;
  padding: 1rem 0;
  margin-top: -9rem;
  height: 300px;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
}


@media only screen and (max-width: 768px) {


}




@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1000px) {

.particles {
  height: 93vh;
}

}